@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ---------Scroll Bar-------- */

.shidden::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  width: 0.1rem;
  background: #c6080a;
  border-radius: 1rem;
  height: 0.2rem;
}
*::-webkit-scrollbar {
  width: 0.2rem;
  border-radius: 1rem;
  height: 0.2rem;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 0, 0, 0.364);
  border-radius: 1rem;
}

.tgradient {
  background: linear-gradient(to right, #c6080a, #ef373a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bgGradient {
  background: linear-gradient(to right, #c6080a, #ef373a);
}

/* Input Number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Input Fields */
.inputBox {
  width: 100%;
  position: relative;
}
.inputBox > input,
.inputBox > textarea {
  width: 100%;
  height: 2.4rem;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
  padding: 10px;
  overflow: none;
  resize: none;
}
.inputBox > textarea {
  height: 6rem;
}

.inputBox > span {
  position: absolute;
  left: 0;
  padding: 8px 14px;
  pointer-events: none;
  font-size: 0.9rem;
  color: #888;
  transition: 0.3s;
}
.inputBox > input:valid ~ span,
.inputBox > textarea:valid ~ span,
.inputBox > input:focus ~ span,
.inputBox > textarea:focus ~ span {
  color: #000;
  transform: translateX(10px) translateY(-6px);
  font-size: 0.8rem;
  padding: 0 7px;
  background: #fff;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}
/* .inputBox > input:valid,
.inputBox > input:focus {
  border: 2px solid orangered;
} */

/* ----------Dark Theme */
.dinputBox {
  width: 100%;
  position: relative;
}
.dinputBox > input,
.dinputBox > textarea {
  width: 100%;
  height: 2.4rem;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
  padding: 10px;
  overflow: none;
  resize: none;
  background: #0f172a;
}
.dinputBox > textarea {
  height: 6rem;
}

.dinputBox > span {
  position: absolute;
  left: 0;
  padding: 12px;
  pointer-events: none;
  font-size: 1rem;
  color: #888;
  transition: 0.3s;
}
.dinputBox > input:valid ~ span,
.dinputBox > textarea:valid ~ span,
.dinputBox > input:focus ~ span,
.dinputBox > textarea:focus ~ span {
  color: #fff;
  transform: translateX(10px) translateY(-6px);
  font-size: 0.8rem;
  padding: 0 7px;
  background: #0f172a;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

/* .dinputBox > input:valid,
.dinputBox > input:focus {
  border: 2px solid orangered;
} */

/* ------------ */
.epr_346qu6 {
  display: none !important;
}

.epr_-kg0voo {
  display: none !important;
}

aside,
element.style {
  height: 310px !important;
  width: 300px !important;
}

/* ----------------------Tooltip COntainer---- */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* ------Typeing Indicator------ */
@keyframes typingDots {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot-1,
.dot-2,
.dot-3 {
  animation: typingDots 1.5s infinite;
  display: inline-block;
  margin-left: 2px;
}

.dot-2 {
  animation-delay: 0.3s;
}

.dot-3 {
  animation-delay: 0.6s;
}

/* ----------Audio File--------- */
audio {
  appearance: none;
  background: transparent;
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: orangered;
  border-radius: 8px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-fullscreen-button {
  border-radius: 4px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-duration-display {
  color: white;
}

/* -----------Profile Page--------- */
.transition-opacity {
  transition: opacity 0.3s ease;
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}

/* Story Page */

/* Table  */

.css-1tbggly {
  min-height: 0rem !important;
  height: 0px !important;
  border: none;
}
